h1,
h2,
h3,
h4,
h5 {
    font-family: 'Quicksand', sans-serif;
}

h5 {
    font-size: 26px;
}

h3 {
    font-size: 32px;
}

#container {
    min-width: 320px;
    max-width: 920px;
    width: 100%;
    margin: auto;
}

header {
    width: 80%;
    margin-left: 10%;
}

nav .navbar-collapse,
nav .navbar-form .navright {
    border-color: #e7e7e7;
    float: right;
    margin-top: 22px;
}

nav .navbar-brand:focus,
nav .navbar-brand:hover {
    color: #7d3f98;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;

}

nav {
    background-color: transparent;
    border-color: transparent;
}

nav .navbar-brand {
    color: #00bce4;
    font-size: 3em;
    margin-top: 25px;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
}

.callbacks_container {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.callbacks_container img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}

.caption {
    width: 56%;
    position: absolute;
    top: 35%;
    left: 20%;
    text-align: center;
}

.caption h3 {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2;
    font-family: 'Open Sans', sans-serif;

}

.content {
    width: 100%;
    background: white;
}

.about {
    margin-top: 1em;
    padding: 17px;
}

.about h2 {
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding-top: 1em;
}

.about p {

    color: black;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 2em 0;
    line-height: 2;
}

.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6 {
    padding-top: 0px;
    padding-bottom: 0px;

}

.boot-padding {
    padding: 0px;
    margin: 0px;
}

.grid h3 {
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1em;
}


.info {
    background: #fff;
    height: 396px;
}

figure.effect-ruby img {
    height: 396px;
}


.info-1 {
    height: 300px;
}

.text1-padding {
    padding-top: 60px;
}

.info h3,
.info-1 h3 {
    font-size: 1.8em;
    color: #7d3f98;
    margin: .6em 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;

}

.info p,
.info-1 p {
    font-size: 1em;
    color: #000;
    margin: 1em 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 12px;
    line-height: 2;
}

.info a,
.info-1 a {
    background: #00bce4;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1em;
    display: block;
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    cursor: pointer;

}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.grid-effect figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid-effect figure img {
    position: relative;
    display: block;
    min-height: 100%;
    width: 100%;
    opacity: 0.8;
}

.grid-effect figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid-effect figure figcaption,
.grid-effect figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.grid-effect figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.grid-effect figure h5 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid-effect figure h5 span {
    font-weight: 800;
}

.grid-effect figure h5,
.grid-effect figure p {
    margin: 0;
}

.grid-effect figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.content-our {
    background: #40b0c8;
    padding-top: 2em;
    padding-bottom: 8em;
}

.content-our h3 {
    color: #fff;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    padding: 2em 0;
    font-size: 2em;
}

img
.services h4 {
    font-size: 1.8em;
    color: #fff;
    margin: .6em 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.services p {
    font-size: 1em;
    color: #fff;
    margin: 1em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.8;

}

.services a {
    background: #7d3f98;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    padding: 9px 18px;
    font-size: 1.2em;
    display: block;
    width: 45%;
    margin-bottom: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    cursor: pointer;
}

.services img {
    max-width: 100%;
    margin-left: 120px;
    margin-bottom: 10px;
}

footer {
    float: left;
    color: black;
    background-color: #00bce4;
    width: 100%;
    padding: 75px;
}

footer h4 {
    font-size: 1.8em;
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    padding-bottom: 15px;
}

footer p {
    font-size: 1em;
    color: black;
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

.icons {
    margin-top: 1em;
}

.focus {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.focus:hover {
    border: 20px solid #000;
    border-radius: 50%;
}

@media screen and (max-width:1920px) {
    .caption h3 {
        font-size: 3em;
    }
}

@media screen and (max-width:1680px) {

    .caption h3 {
        font-size: 2.6em;
    }

}

@media screen and (max-width:1440px) {
    .caption h3 {
        font-size: 2.5em;
    }

    figure.effect-ruby img {
        height: 382px;
    }

    .info {
        height: 382px;
    }
}

@media screen and (max-width:1366px) {
    nav .navbar-brand {
        font-size: 2.8em;
    }
}

@media screen and (max-width:1280px) {
    nav .navbar-brand {
        font-size: 2.7em;
    }

    .caption h3 {
        font-size: 2.5em;
    }

}

@media screen and (max-width:1080px) {
    nav .navbar-brand {
        font-size: 2.5em;
    }

    .caption h3 {
        font-size: 2em;
    }

    .about p {
        font-size: 1.1em;
    }

    .about h2 {
        font-size: 2.3em;
    }

    .text1-padding {
        padding-top: 50px;
    }

    .content-our {
        padding-bottom: 6em;
    }

    img
    .content-our h2 {
        padding: 1.5em 0;
    }

    .services img {
        max-width: 30%;
        margin-left: 105px;
    }

    .services h4 {
        font-size: 1.5em;
    }

    .services p {
        font-size: .9em;
    }

    .footer p {
        font-size: .9em;
    }

    .footer h4 span {
        font-size: 1.6em;
    }

    figure.effect-ruby img {
        height: 350px;
    }

    .info {
        height: 350px;
    }

    .info h3,
    .info-1 h3 {
        margin: .3em 0;
    }
}

@media screen and (max-width:1050px) {
    .caption h3 {
        font-size: 2em;
    }

}

@media screen and (max-width:1024px) {
    nav .navbar-brand {
        font-size: 2.5em;
    }

    .caption h3 {
        font-size: 2em;
    }

    .about p {
        font-size: 1.1em;
    }

    .about h2 {
        font-size: 2.3em;
    }

    .info h3 {
        font-size: 1.6em;
        margin: .5em 0;
    }

    .info p {
        font-size: .9em;
        margin: .5em 0;

    }

    .services img {
        max-width: 30%;
        margin-left: 105px;
    }

    .services h4 {
        font-size: 1.5em;
    }

    .services p {
        font-size: .9em;
    }

    .footer h4 span {
        font-size: 1.6em;
    }

    .footer {
        min-height: 816px;
    }

}


@media screen and (max-width:991px) {
    .caption h3 {
        font-size: 1.8em;
    }

    .navbar {
        margin-bottom: 0px;
    }

    nav .navbar-collapse,
    nav .navbar-form .navright {
        margin-top: 14px;
    }

    img
    .navbar-brand {
        padding: 0px;
    }

    .about h2 {
        font-size: 2.1em;
    }

    .about p {
        font-size: 0.9em;
    }

    .info {
        width: 40%;
        float: left;
        padding: 32px;
        height: 265px;
    }

    .image-6c {
        width: 60%;
        float: left;
    }

    .image-4c {
        width: 40%;
        float: left;
    }

    figure.effect-ruby img {
        height: 265px;
    }

    .mdtext {
        float: left;
        width: 60%;
    }

    .smtext {
        float: left;
        width: 40%;
    }

    .services {
        width: 32%;
        float: left;
        padding: 0 5px;
    }

    .services img {
        max-width: 30%;
        margin-left: 67px;
    }

    .figure.effect-ruby p {
        font-size: 9px;
    }

    .grid-effect figure p {
        font-size: 50%;
    }

    .info p {
        line-height: 1.8;
    }

    .smtext p {
        padding: 1em 1em 7.75em 2em;
    }

    .content-our {
        padding-top: 1em;
        padding-bottom: 7em;
    }

    .info-1 h3 {
        margin: 0.3em 0;
    }

    .info-1 p {
        font-size: 13px;
        line-height: 1.8;
    }

}


@media screen and (max-width:800px) {
    nav .navbar-brand {
        padding-top: 4px;
        padding-left: 6px;
    }

}



@media screen and (max-width:768px) {
    nav .navbar-toggle {
        border-color: #00bce4;
    }

}

@media screen and (max-width:736px) {

    img
    nav .navbar-collapse,
    nav .navbar-form .navright {
        width: 100%;
        text-align: center;
    }

    .navbar-toggle {
        padding: 10px 10px;
        margin-top: 20px;
    }

    figure .effect-ruby img {
        height: 240px;
    }

    figure .effect-ruby img {
        height: 250px;
    }

    .info {
        padding: 30px;
        height: 250px;
    }

    .grid-effect figure p {
        font-size: 50%;
    }

}

@media screen and (max-width:667px) {

    figure.effect-ruby img {
        height: 240px;
    }

    .info {
        padding: 16px;
        height: 240px;
    }

    .text1-padding {
        padding-top: 26px;
    }

    .info-1 {
        height: 250px;
    }

    .content-our {
        padding-top: 0em;
        padding-bottom: 3em;
    }

    .content-our h3 {
        padding: 1.5em 0;
        margin: 0px
    }

    .login-bottom input[type="text"] {
        width: 99%;
        margin-top: 5px;
    }

    .services {
        padding: 0 2px;
    }

    .login-bottom input[type="text"] {
        font-size: 13px;
    }

}

@media screen and (max-width:640px) {

    .info-1 p {
        padding: 10px;
    }

    .services {
        width: 33%;
    }

}

@media screen and (max-width:600px) {
    .info p {
        padding: 8px;
    }

    figure.effect-ruby p {
        padding: 2em;
    }

    .info-1 p {
        line-height: 1.6;
        padding: 10px;
    }

    .info-1 h3 {
        margin: 0.1em 0;
    }

    .services {
        padding: 0px;
    }

    .services p {
        margin: 1em 0px;
    }

}



@media screen and (max-width:480px) {
    .caption {
        width: 70%;
        top: 15%;
        left: 14%;

    }

    .about {
        margin-top: 0em;
        padding: 12px;
    }

    .about h2 {
        padding-top: 0em;
    }

    .about p {
        padding: 0px;
    }

    .image-6c {
        width: 100%;
    }

    .info {
        padding: 16px;
        height: 150px;
        width: 100%;
    }

    .info-1 p {
        margin: 0em;

    }

    .grid1,
    .grid2,
    .grid4 {
        margin-bottom: 5px;
    }

    .info-1 h3 {
        margin: 0.6em 0 0 0;
    }

    .mdtext {
        width: 100%;
        padding-top: 1px;
        margin: 0px;
        height: 165px;
    }

    .text1-padding {
        padding-top: 0px;
    }

    .smtext {
        float: left;
        width: 100%;
        height: 130px;
    }

    .image-4c {
        width: 100%;

    }

    .login-bottom {
        width: 80%;
    }

}



@media screen and (max-width:414px) {
    .caption h3 {
        font-size: 1.6em;
        margin-top: 5px;
        line-height: 1.6em;
    }

    .about p {
        line-height: 1.6em;
    }

    .info {
        height: 175px;
    }

    .mdtext {
        height: 190px;
    }

    .services {
        width: 70%;
        margin: 0 auto;
        float: none;
        margin-bottom: 25px;
    }

    .services img {
        margin-left: 90px;
        margin-bottom: 0px;
    }

    .services h4 {
        margin: 0;
    }

    .footer-padding {
        padding: 25px 15px;
    }

}


@media screen and (max-width:384px) {
    .mdtext {
        height: 205px;
    }

    .smtext {

        height: 145px;
    }
}



@media screen and (max-width:375px) {

    figure.effect-ruby img {
        height: 225px;
    }

    .about p {
        line-height: 26px;
    }

    .info h3 {
        font-size: 1.4em;
        margin: .5em 0;
    }

    .mdtext {
        height: 210px;
    }

    .smtext {
        height: 150px;
    }

    .login-bottom {
        width: 100%;
    }

}

@media screen and (max-width:320px) {

    .caption h3 {
        font-size: 1.4em;
        margin-top: 5px;
        line-height: 1.4em;
    }

    figure.effect-ruby img {
        height: 215px;
    }

    .about p {
        line-height: 24px;
    }

    .grid-effect figure h5 {
        font-size: 22px;
    }

    .info {
        height: 185px;
    }

    .info p {
        padding: 2px;
        margin: .2em 0;
    }

    .mdtext {
        height: 225px;
    }

    .services img {
        margin-left: 65px;
    }

    #services li {
        width: 50px;
        height: 50px;
    }

}