*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background-image: url('matrix.gif');
  background-repeat: repeat;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid>button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

/* kleur als je over de button hovert */
.calculator-grid>button:active {
  background-color: rgba(0, 183, 255, 0.918) !important;
}

/* kleur als je op de button clicked */
.calculator-grid>button:hover {
  background-color: rgba(0, 255, 157, 0.9);
}

/* dat the "AC" en "=" 2 blokjes groot zijn */
.span-two {
  grid-column: span 2;
}

/* het scherm van de rekenmachine */
.output {
  grid-column: 1 / -1;
  background: linear-gradient(to bottom, rgba(0, 183, 255, 0.9), rgba(0, 255, 157, 0.9));
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}